.main__settings {
  background-color: #f2f2f7;
  width: 100%;
  height: 100vh;
}

.settings__div-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ededee;
  background-color: #ffffff;
}

.settings__div-profile-column:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 170px;
}

.settings__div-profile-column .fa-user-circle {
  font-size: 2.6rem;
  margin-right: 12px;
  color: #cbcacde8;
}

.profile__div-name-desc span {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile__div-name-desc p,
.fa-chevron-right {
  font-size: 0.8rem;
  opacity: 0.6;
  line-height: 1.1rem;
}

.fa-chevron-right {
  color: #939294a9;
}

/* Settings lists - ul */
.main__settings-ul-lists-block {
  width: 100%;
  height: 30px;
  background-color: #f2f2f7;
  border-bottom: 1px solid #ededee;
}

.settings-ul-lists__li-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0px 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ededee;
}

.settings-li-list__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-li-list__column span {
  font-size: 0.9rem;
  font-weight: 600;
}

.settings-li-list__column .fa-star {
  font-size: 0.7rem;
  margin-right: 12px;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ffc528;
}

.settings-li-list__column .fa-tv {
  font-size: 0.7rem;
  margin-right: 11px;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0aaca0;
}

.settings-li-list__column .fa-key {
  font-size: 0.7rem;
  margin-right: 11px;
  padding: 6px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3a79fe;
}
