@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import 'reset.css';

@import 'index.css';
@import 'status-bar.css';
@import 'header.css';
@import 'nav.css';
@import 'status.css';
@import 'calls.css';
@import 'chats.css';
@import 'chat.css';
@import 'settings.css';

body {
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f7f7f7;
  padding: 12px 0px;
  height: 100vh;
}

a {
  text-decoration: none;
}
