.main__calls {
  background-color: #ffffff;
  width: 100%;
  height: 80vh;
}

.main__calls-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d4d6;
  background-color: #ffffff;
}

.main__calls-list-column {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 15px;
}

.main__calls-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__calls-list-column .avatar {
  color: #cbcacd;
  font-size: 2.5rem;
  margin-right: 12px;
}

.main__calls-text .main__calls-number {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.main__calls-text .main__calls-outInText {
  font-weight: 600;
  opacity: 0.4;
}

.main__calls-text .main__calls-outInText i {
  font-size: 0.75rem;
}

.main__calls-text .main__calls-outInText span {
  font-size: 0.8rem;
}

.main__calls-date-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__calls-date-info span {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.4;
  margin-right: 8px;
}

.main__calls-date-info i {
  font-size: 1.3rem;
  color: #007cfe;
  animation: fadeInInfo 0.5s ease-in-out;
}

.main__calls-list-column .fa-minus-circle {
  margin-right: 10px;
  color: #ff3a30;
  font-size: 1.2rem;
  animation: fadeInMinus 0.5s ease-in-out;
}

.calls-info-showing {
  display: none;
}

.li-animation-in {
  animation: fadeInMinus 0.5s ease-in-out;
}

.li-animation-out {
  animation: fadeOutLi 0.5s ease-in-out;
}

@keyframes fadeInMinus {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInInfo {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLi {
  from {
    opacity: 0;
    transform: none;
  }
  to {
    opacity: 1;
  }
}
