.header__chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cbcacd;
  padding-bottom: 5px;
}

.header__chat-column {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__chat-column .chat-to-chats-link {
  font-size: 1.8rem;
  color: #007cfe;
  margin-left: 10px;
  margin-right: 35px;
}

.header__chat-column .chat__avatar-number-desc {
  display: flex;
  justify-content: start;
  align-items: center;
}

.chat__avatar-number-desc img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.chat__number-desc {
  display: flex;
  flex-direction: column;
}

.chat__number-desc span:nth-child(1) {
  font-weight: 800;
  margin-bottom: 5px;
}

.chat__number-desc span:nth-child(2) {
  font-size: 0.8rem;
  opacity: 0.6;
}

.header__chat-column:nth-child(2) i {
  margin-right: 20px;
  color: #007cfe;
}

/* Main chat lists */
.main__chat {
  background-image: url('../images/chat_background.jpg');
  width: 100%;
  height: 90vh;
}

.main__chat-lists {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__chat-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 115px;
  padding: 4px 0px;
  border-radius: 15px;
  background-color: #d2dcf8;
  font-weight: 600;
  font-size: 0.9rem;
  min-width: 113.2px;
  margin-bottom: 10px;
}

.main__chat-list-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.main__chat-date {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.chat-list-right__wrapper {
  padding: 5px;
  background-color: #dcf8c5;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 0px;
  max-width: 230px;
}

.chat-list__column-right:nth-child(1) {
  margin-bottom: 5px;
}

.chat-list__column-right:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.7rem;
}

.chat-list__column-right:nth-child(2) span {
  margin-right: 5px;
  opacity: 0.5;
}

.chat-list__column-right:nth-child(2) i {
  color: #007cfe;
}

.main__chat-list-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.chat-list-left__wrapper {
  padding: 5px;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0px;
  max-width: 230px;
}

.chat-list__column-left:nth-child(1) {
  margin-bottom: 5px;
}

.chat-list__column-left:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.7rem;
}

.chat-list__column-left:nth-child(2) span {
  margin-left: 5px;
  opacity: 0.5;
}

/* Write Message part */
.chat__write-area {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #f7f7f7;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100%;
  border-top: 1px solid #cbcacd;
}

.chat__form-for-msg {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__form-for-msg input {
  background-color: #fbfbfb;
  border-radius: 15px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 30px;
  border: 1px solid #cbcacd;
  width: 99%;
  margin-left: 30px;
  margin-right: 73px;
}

.chat__form-for-msg input:focus {
  outline: none;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 0 2pt 1pt #d4d4d6;
  -moz-box-shadow: 0 0 2pt 1pt #d4d4d6;
  -webkit-box-shadow: 0 0 2pt 1pt #d4d4d6;
}

.chat__from-plus-icon-wrapper {
  position: absolute;
  left: 10px;
  color: #007cfe;
}

.chat__from-etc-icons-wrapper {
  position: absolute;
  right: 0;
  color: #007cfe;
}

.chat__from-etc-icons-wrapper i:nth-child(1) {
  margin-right: 15px;
}

.chat__from-etc-icons-wrapper i:nth-child(2) {
  margin-right: 15px;
}

.chat__from-etc-icons-wrapper i:nth-child(3) {
  margin-right: 15px;
}
